section{
    margin: 50px 20px;
    box-shadow: 0 0 0 10px #fff, 0 15px 30px;
}
.staff-title{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
}
.staff-title-title{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color:  #9F3434;
    border-radius: 20px;
    color: #fff;
    font-weight: lighter;
    font-size: 30px;
    border: 0.5px solid rgba(0, 0, 0,0.2);
}
.staff-title-flecha{
    width: 100px;
    height: 100px;
    margin-bottom: -70px;
}
.contain-slider{
    width: 90%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.slider{
    width: 400%;
    display: flex;
    height: 200px;
    margin-left: -100%;
}
.slider-section{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.slider-contain{
    width: 100%;
    height: 100%;
}
.slider-section-cabecera{
    width: 100%;
    height: 100%;
}
.slider-section-cabecera-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-section-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.slider-section-body-nombre-nombre,.slider-section-body-nombre-logo,.slider-section-body-profesion,.slider-section-body-info{
    background-color: #fff;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slider-section-body-nombre{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
}
.slider-section-body-nombre-nombre{
    text-align: center;
    padding: 0 20px;
    margin-left: -30%;
    margin-right: auto;
    font-size: 20px;
} 
.slider-section-body-nombre-logo{
    width: 30%;
    height: 80%;
    padding: 5px;
}
.slider-section-body-profesion{
    width: 100%;
    padding: 5px;
    font-size: 12px;
}
.slider-section-body-info{
    margin: 4%;
    padding: 20px;
    font-size: 9px;
}
.slider-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.5);
    top: 50%;
    transform: translateY(-70%);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider-btn:hover{
    background-color: rgba(255,255,255,0.7);
}
.slider-btn-left{
    left: 2px;
}
.slider-btn-right{
    right: 2px;
}
@media (min-width:1000px){
    section{
        margin:10px 20px ;
    }
    .contain{
        display: flex;
        flex-direction: row-reverse;
    }
    .staff-title{
        flex-direction: column;
        height: 100px;
        margin: 50px;
        margin-bottom: -50px;
    }
    .staff-title-title{
        padding: 20px  30px ;
        border-radius:0;
        font-size: 50px;
        border: none;
        box-shadow:  0 15px 50px rgba(0, 0, 0,0.7);
        margin-bottom: -100px;
    }
    .staff-title-flecha{
       display: none;
    }
    .slider{
        height: 400px;
    }
    .slider-section-body-nombre-nombre{
        padding: 0 40px;
        margin-left: -30%;
        font-size: 50px;
    }
    .slider-section-body-profesion{
        font-size: 25px;
    }
    .slider-section-body-info{
        font-size: 20px;
    }
    .slider-btn{
        width: 40px;
        height: 40px;
        font-size: 30px;
    }
    .slider-btn-left{
        left: 5px;
    }
    .slider-btn-right{
        right: 5px;
    }
}
/*Mapa*/
.contain-map-section{
    margin:40px 20px ;
    position: relative;
}
.contain-map-section a img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 2px #fff, 0 15px 30px;
}
.shadow{
    display: none;
}
.shadow a{
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}
.shadow a:hover{
    color: rgba(0, 0, 0,0.2);
    cursor: pointer;
    text-decoration: underline;
}
.shadow:hover a{
    color: rgba(0, 0, 0,0.7);
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(0, 0, 0,0.7);
    border-radius: 20px;
}
.shadow:hover{
    background-color: rgba(255,255,255,0.9);
}
@media (min-width:1000px){
    .contain-map-section{
        position: absolute;
        width: 350px;
        height: 200px;
        z-index: 300;
        right: 10px;
        top: 45%;
    }
    .shadow{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
